<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script> <!-- load angular -->
	<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script> <!-- load masonry -->
    <link rel="stylesheet" href="css/index.css"> <!-- load fontawesome -->
</head>
<body>
<%- include ../node_modules/basic-login-bar/views/partials/header.ejs %>
	<div class="container">
		<div id="folders">
			<ul>
				<li>Blah</li>
				<li>Blah</li>
				<li class="active">Bewafwafwefwafewflah</li>
			</ul>
		</div>
		<div id="gallery">
			<div class="image" data-ng-repeat="link in blah" data-ng-style="getImage(link)">
			<!--image goes here-->
			<div class="caption">lorem ipsum gallum</div>
			</div>
			<div class="image" data-ng-repeat="link in blah" data-ng-style="getImage(link)">
				<div id="add-img-placeholder"><p class="big-plus vert-centered">+</p></div>
			</div>
		</div>
	</div>
</body>
</html>
