<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="css/index.css"> <!-- load fontawesome -->
</head>
<body>
<%- include ../node_modules/basic-login-bar/views/partials/header.ejs %>
	<div id="folders">
		<ul>
			<div><li>Blah</li></div>
			<div><li>Blah</li></div>
			<div><li>Bewafwafwefwafewflah</li></div>
		</ul>
	</div>
	<div class="container">
		<div id="gallery">
			<div class="image" data-ng-repeat="link in blah" data-ng-style="getImage(link)">
			<!--image goes here-->
			<div class="caption">lorem ipsum gallum</div>
			</div>
			<div class="image" data-ng-repeat="link in blah" data-ng-style="getImage(link)">
			<!--image goes here-->
			<div class="caption">lorem ipsum gallum</div>
			</div>
			<div class="image" data-ng-repeat="link in blah" data-ng-style="getImage(link)">
			<!--image goes here-->
			<div class="caption">lorem ipsum gallum</div>
			</div>
			<div class="image" data-ng-repeat="link in blah" data-ng-style="getImage(link)">
			<!--image goes here-->
			<div class="caption">lorem ipsum gallum</div>
			</div>
		</div>
	</div>
</body>
</html>
