<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script> <!-- load angular -->
	<script
			  src="https://code.jquery.com/jquery-2.2.3.min.js"
			  integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
			  crossorigin="anonymous"></script>
	<script src="lib/salvattore.min.js"></script> <!-- load angular app -->
	<script src="app.js"></script> <!-- load angular app -->
	<script src="services.js"></script> <!-- load user service -->
	<script src="directives.js"></script> <!-- load user service -->
	<script src="controllers.js"></script> <!-- load angular controllers -->
    <link rel="stylesheet" href="css/index.css"> <!-- load styles -->
</head>
<body data-ng-app="AlbumApp" data-ng-controller="autoLogger" data-ng-init="package = <%= packagedUser %>;init(package)">
<%- include ../node_modules/basic-login-bar/views/partials/header.ejs %>
	<div class="container" data-ng-controller="MainCtrl">
		<div id="folders">
			<ul>
				<li class="active" data-ng-repeat="gallery in galleries">{{gallery.name}}</li>
				<li id="new-gallery-btn" data-ng-click="newGallForm()">
					<form  data-ng-style="widenForm()" data-ng-submit="newGall()">
						<input data-ng-style="showInput()" data-ng-click="preventClose($event)" type="text" class="form-control" data-ng-model="gallEdits.newGall" placeholder="New Gallery Name">
					</form>
					<div data-ng-style="rotatePlus()">+</div>
				</li>
			</ul>
		</div>
		<div id="gallery" data-columns>
			<div class="column size-1of4 image-container">
				<div class="img" data-ng-style="stockBkgrd()">
					<p class="big-plus" data-ng-show="!newImgMode">+</p>
					<form data-ng-style="textArea()">
						<textarea data-ng-click="newImgForm()" data-ng-enter="newImgLink()" data-ng-blur="resetImgForm()" class="form-control" data-ng-model="gallEdits.newImg" placeholder="Paste a link to an image"></textarea>
					</form>
				</div>
			</div>
			<div class="column size-1of4 image-container" data-ng-repeat="link in galleries[gallEdits.currIndex].pics">
				<div class="img"></div>
				<div class="caption">lorem ipsum gallum</div>
			</div>
		</div>
	</div>
</body>
</html>
